:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.logo {
  color: var(--accent-color);
}
span {
  color: var(--title-text-color);
}
/* Cтили для index.html */
ul {
  list-style: none;
}
/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.hero-title {
  color: #ffffff;
}
/* Section */
.section-title {
  color: var(--title-text-color);
}
/* Features */
.feature-list .title {
  color: var(--title-text-color);
}
/* Work-list examples */
.work-list .title {
  color: var(--primary-text-color);
}
/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Стили для portfolio.html */
